services:
  https-proxy:
    build:
      context: src/https-proxy
      dockerfile: Dockerfile
      args:
        SERVER_DOMAIN: ${SERVER_DOMAIN:-localhost}
        WEB_MODULE_ADDRESS: ${WEB_MODULE_ADDRESS:-web:8080}
    ports:
      - "80:80" # HTTP
      - "443:443" # HTTPS
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web

  web:
    build:
      context: src/web
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Release
      - CONNECTION_STRING=Data Source=db,1433;User ID=SA;Password=${MSSQL_SA_PASSWORD};Encrypt=False
      - ROOT_USERNAME=${ROOT_USERNAME}
      - ROOT_EMAIL=${ROOT_EMAIL}
      - ROOT_PASSWORD=${ROOT_PASSWORD}
      - REVIEW_COOLDOWN_SECONDS=${REVIEW_COOLDOWN_SECONDS:-10}
    depends_on:
      db:
        condition: service_healthy

  ai:
    build:
      context: src/ai
      dockerfile: Dockerfile

  db:
    build:
      context: src/db
      dockerfile: Dockerfile
      args:
        password: ${MSSQL_SA_PASSWORD}

  db-migrations:
    build:
      context: src/web
      dockerfile: ../db-migrations/Dockerfile
    environment:
      - CONNECTION_STRING=Data Source=db,1433;User ID=SA;Password=${MSSQL_SA_PASSWORD};Encrypt=False
    depends_on:
      db:
        condition: service_healthy
    profiles: [ migrations ]

volumes:
  caddy_data:
  caddy_config:
