<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="vh-100 d-flex flex-column">
        <header>
            <button class="btn btn-primary d-md-none position-fixed" id="toggleSidebar">☰</button>
            <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">web</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </header>

        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-3">
                    <nav class="h-100 d-flex flex-column justify-content-between p-3 bg-light" id="sidebar">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a asp-controller="ArtPiece" asp-action="Index" class="nav-link">Browse</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Reviewer" asp-action="Index" class="nav-link">Reviewer</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Artist" asp-action="Index" class="nav-link">Artist</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Settings</a>
                            </li>
                        </ul>
                        <div class="border-top text-muted">
                            &copy; 2024 - web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </nav>
                </div>
                <main role="main" class="pb-3 col-lg-9 col-xl-6">
                    @RenderBody()
                </main>
                <div class="d-none d-xl-block col-3 bg-light">
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.querySelector("#toggleSidebar").addEventListener("click", function () {
            document.getElementById("sidebar").classList.toggle("show");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
