@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (@Model.HasReason)
{
    <h1 class="text-danger">Error @Model.StatusCode.</h1>
    <p class="text-danger">An error occurred while processing your request. Reason: @Model.Reason</p>
}
else
{
    <h1 class="text-danger">Error.</h1>
    <p class="text-danger">An unknown error occurred while processing your request.</p>
}
