@using web.Features.Artists.Index
@model ArtistProfileModel

<div id="artPiecesList" class="list-group">Loading...</div>
<button id="loadMoreArtPieces" class="btn btn-primary mt-3" style="display: none;">Load More</button>

<partial name="../ArtPieces/_ArtPieceDetailsModalPartial" />

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        let offset = 0;
        const artPiecesPerPage = 5;

        let artPieceDetails = null;
        const container = document.querySelector('#artPiecesList');
        container.addEventListener('click', (e) => {
            const element = e.target;
            const artPieceElement = element.closest('.art-piece-card');
            if (!artPieceElement) return;

            const artPieceId = artPieceElement.dataset.artPieceId;
            if (!artPieceId) {
                throw new Error('Expected art piece id not to be null for clicked review/like element.');
            }

            const artPieceDetails = new ArtPieceDetails(artPieceId);
            artPieceDetails.show();
        });

        async function fetchArtPieces() {
            const list = document.querySelector('#artPiecesList');
            const loadMore = document.querySelector('#loadMoreArtPieces');
            const artistId = "@Model.Id";

            const response = await fetch(`/api/artists/${artistId}/artpieces?offset=${offset}`);
            const data = await response.json();

            if (offset == 0) list.innerText = '';
            if (offset == 0 && data.length === 0) list.innerText = 'No art pieces found.';

            // If loaded less art pieces than requested, hide the button since we're at the end
            if (data.length < artPiecesPerPage) {
                loadMore.style.display = 'none';
            } else {
                loadMore.style.display = 'block';
            }

            data.forEach(artPiece => {
                const card = document.createElement("div");
                card.className = "col-md-4 mb-3 art-piece-card";
                
                const cardInner = document.createElement("div");
                cardInner.className = "card";
                
                const img = document.createElement("img");
                img.src = artPiece.imagePath;
                img.className = "card-img-top";
                img.alt = "Image";
                cardInner.appendChild(img);
                
                const cardBody = document.createElement("div");
                cardBody.className = "card-body";
                
                Array.from({ length: 5 }, (_, i) => {
                    const star = document.createElement('label');
                    if (i < artPiece.averageRating) {
                        star.className = 'checked-star';
                    }
                    star.innerHTML = '&#9733;';
                    cardBody.appendChild(star);
                });
                
                const description = document.createElement("p");
                description.className = "card-text";
                description.textContent = artPiece.description;
                cardBody.appendChild(description);
                
                const dateSmall = document.createElement("small");
                dateSmall.className = "text-muted";
                dateSmall.textContent = new Date(artPiece.uploadDate).toLocaleDateString();
                cardBody.appendChild(dateSmall);
                
                if (@Model.IsOwner.ToString().ToLower() && @(Model.BoostExpirationDate == null ? "true" : "false")) {
                    const boostBtn = document.createElement("button");
                    boostBtn.className = "boost-btn";
                    boostBtn.textContent = "Boost";
                    boostBtn.onclick = () => boostArtPiece(artPiece.id.value);
                    cardBody.appendChild(boostBtn);
                }
                
                cardInner.appendChild(cardBody);
                card.appendChild(cardInner);
                card.dataset.artPieceId = artPiece.id.value;
                list.appendChild(card);
            });
            offset += artPiecesPerPage;
        }

        document.querySelector('#loadMoreArtPieces').addEventListener('click', fetchArtPieces);

        fetchArtPieces();
    });
</script>