.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
        font-size: 14px;
        position: relative;
        height: 100%;
}

body {
        margin-bottom: 60px;
        height: 100%;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
        color: var(--bs-secondary-color);
        text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
        text-align: start;
}

#sidebar {
        width: 250px;
        transition: transform 0.3s ease-in-out;
}

p {
        word-wrap: break-word;
        white-space: normal;
}

.rating {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
}

.rating input {
        display: none;
}

.rating label {
        font-size: 24px;
        cursor: pointer;
}

.rating label:hover,
.rating label:hover~label {
        color: orange;
}

.rating input:checked~label {
        color: orange;
}

@media (max-width: 1140px) {
        #sidebar {
                transform: translateX(-200%);
        }

        #sidebar.show {
                transform: translateX(0);
        }

        #toggleSidebar {
                top: 50px;
                right: 50px;
        }
}

@media (min-width: 768px) {
        html {
                font-size: 16px;
        }
}