@using web.Features.Reviews.ReviewArtPiece
@model ReviewArtPieceModel
<div class="container">
    <div id="artContainer" class="m-auto text-center">
        <h1>Loading...</h1>
    </div>
    <button id="reviewArt" class="btn btn-light m-3" data-bs-toggle="modal"
        data-bs-target="#reviewModal">Review</button>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Review Art</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Review" asp-action="ReviewArtPiece" method="post" id="reviewForm">
                    <div class="form-group">
                        <textarea name="comment" class="form-control mb-2" placeholder="Review this art piece" required
                            asp-for="Comment"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="artPieceId" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function loadArtPiece() {
        fetch("/api/artpiece")
            .then(response => {
                if (response.status === 204) {
                    return null;
                }
                return response.json();
            })
            .then(data => {
                const artContainer = document.getElementById('artContainer');
                if (!data || !data.imagePath) {
                    artContainer.innerHTML = '<h1>No more images to review.</h1>';
                    return;
                }

                artContainer.innerHTML = `
                        <img id="artPieceImage" src="${data.imagePath}" alt="Art Piece" class="img-fluid rounded">
                        <div class="p-2">
                            <p>${data.description}</p>
                        </div>`;
                document.querySelector('#reviewForm input[name="artPieceId"]').value = data.id.value;
            })
            .catch(error => console.error('Error fetching art piece:', error));
    }

    document.addEventListener('DOMContentLoaded', function () {
        loadArtPiece();

        document.querySelector('#reviewForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const form = new FormData(document.querySelector('#reviewForm'));
            const data = {
                comment: form.get('comment'),
                artPieceId: form.get('artPieceId')
            };

            await fetch('/api/reviews/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(async response => {
                    if (response.status !== 200) {
                        const data = await response.json();
                        throw data;
                    }
                    return response.json();
                })
                .then(data => {
                    loadArtPiece();
                    document.querySelector('#reviewModal .btn-close').click();
                })
                .catch(error => {
                    const validationErrorsText = document.querySelector('#reviewForm *[name="comment"] + span');
                    validationErrorsText.innerText = error.errors.Comment;
                });



        });
    });
</script>
