@using web.Features.Reviews.ReviewArtPiece
@model ReviewArtPieceModel

<div class="container">
    <div id="selectedTag"></div>
    <div id="artContainer" class="m-auto text-center">
        <h1>Loading...</h1>
    </div>

    <div id="artPieceControls">
        <partial name="../Tags/TagsPartial" />
        <button id="reviewArt" class="btn btn-light m-3" data-bs-toggle="modal"
            data-bs-target="#reviewModal">Review</button>
    </div>
</div>

<div class="modal fade" id="postReviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">What next?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button id="likeArtPiece" class="btn btn-light m-3">Like</button>
                <button id="nextArtPiece" class="btn btn-light m-3">Next</button>
                <button id="viewArtPiece" class="btn btn-light m-3">Details</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="artPieceDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Art piece details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex flex-column flex-md-row">
                <div class="container-fluid">
                    <div class="row">
                        <div id="artDetailsImageContainer" class="col-7 text-center">
                            <img id="artDetailsImage" src="" class="img-fluid rounded mb-3" alt="Art Piece">
                            <p id="detailsDescription" class="mt-3"></p>
                        </div>

                        <div class="col-5 d-flex flex-column" style="max-height: 70vh;">
                            <h6 class="fw-bold mb-2">Reviews</h6>

                            <div id="artReviewsContainer" class="flex-grow-1 overflow-auto border rounded p-2"
                                style="min-height: 0;"></div>

                            <button id="loadMoreReviews" class="btn btn-outline-secondary mt-2">
                                Load more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="backToPostReview" class="btn btn-light">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Review Art</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Review" asp-action="ReviewArtPiece" method="post" id="reviewForm">
                    <div class="form-group">
                        <textarea name="comment" class="form-control mb-2" placeholder="Review this art piece" required
                            asp-for="Comment"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="rating">
                            <input type="radio" id="star5" name="Rating" asp-for="Rating" value="5">
                            <label for="star5">&#9733;</label>
                            <input type="radio" id="star4" name="Rating" asp-for="Rating" value="4">
                            <label for="star4">&#9733;</label>
                            <input type="radio" id="star3" name="Rating" asp-for="Rating" value="3">
                            <label for="star3">&#9733;</label>
                            <input type="radio" id="star2" name="Rating" asp-for="Rating" value="2">
                            <label for="star2">&#9733;</label>
                            <input type="radio" id="star1" name="Rating" asp-for="Rating" value="1">
                            <label for="star1">&#9733;</label>
                        </div>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="artPieceId" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let artPieceId;
        let currentTag = null;
        let reviewsOffset = 0;

        document.addEventListener('DOMContentLoaded', async () => {
            let isLiked = false;
            let artPiece = await loadArtPiece();
            artPieceId = artPiece.id.value;

            const likeButton = document.querySelector('#likeArtPiece');
            const reviewForm = document.querySelector('#reviewForm');
            const reviewModal = new bootstrap.Modal(document.querySelector('#reviewModal'));
            const postReviewModal = new bootstrap.Modal(document.querySelector('#postReviewModal'));
            const artPieceDetailsModal = new bootstrap.Modal(document.querySelector('#artPieceDetailsModal'));

            async function nextArtPiece() {
                postReviewModal.hide();
                artPieceDetailsModal.hide();
                await loadArtPiece();
            }

            function showDetails() {
                document.getElementById('artDetailsImage').src = artPiece.imagePath;
                reviewsOffset = 0;
                loadReviews(artPieceId, false);

                postReviewModal.hide();
                artPieceDetailsModal.show();
            }

            function showPostReview() {
                artPieceDetailsModal.hide();
                postReviewModal.show();
            }

            async function loadArtPiece() {
                const url = (currentTag === null) ? '/api/artpiece' : `/api/artpiece?tag=${currentTag}`;
                const response = await fetch(url);
                const artContainer = document.getElementById('artContainer');
                if (response.status === 204) {
                    artContainer.innerHTML = '<h1>No more images to review.</h1>';
                    document.querySelector('#artPieceControls').style.display = 'none';
                    return null;
                }

                const data = await response.json();

                if (!data || !data.imagePath) {
                    artContainer.innerHTML = '<h1>No more images to review.</h1>';
                    document.querySelector('#artPieceControls').style.display = 'none';
                    return null;
                }

                artContainer.innerHTML = `<img id="artPieceImage" src="${data.imagePath}" alt="Art Piece" class="img-fluid rounded"><div class="p-2"><p>${data.description}</p></div>`;
                document.querySelector('#reviewForm input[name="artPieceId"]').value = data.id.value;
                artPieceId = data.id.value;
                return data;
            }

            async function loadReviews(artPieceId, append = true) {
                const response = await fetch(`/api/artPieces/${artPieceId}/reviews?offset=${reviewsOffset}`);
                if (!response.ok) return;

                const reviews = await response.json();
                const container = document.getElementById('artReviewsContainer');

                if (!append) container.innerHTML = '';

                reviews.forEach(r => {
                    const reviewEl = document.createElement('div');
                    reviewEl.className = 'd-flex mb-3';
                    reviewEl.innerHTML =
                        `<div>` +
                        `<div><strong>${r.reviewerName}</strong> -  <span class="review-points">${r.points} points</span> - <small>${new Date(r.date).toLocaleDateString()}</small></div>` +
                        `<div><span class="review-rating">${r.rating.value}★</span> ${r.comment}</div>` +
                        `</div>`;
                    container.appendChild(reviewEl);
                });

                if (reviews.length > 0) reviewsOffset += reviews.length;
            }

            async function like(e) {
                const artPieceId = document.querySelector('#reviewForm input[name="artPieceId"]').value;

                if (isLiked) {
                    const response = await fetch(`/api/artpieces/${artPieceId}/like`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    });

                    if (!response.ok) {
                        console.error('Failed to unlike the art piece', response.statusText);
                        return;
                    }

                    likeButton.innerText = "Like";
                    isLiked = false;
                } else {
                    const response = await fetch(`/api/artpieces/${artPieceId}/like`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    });

                    if (!response.ok) {
                        console.error('Failed to like the art piece', response.statusText);
                        return;
                    }

                    likeButton.innerText = "Unlike";
                    isLiked = true;
                }
            }

            async function review(e) {
                e.preventDefault();
                const form = new FormData(e.target);

                const data = {
                    comment: form.get('comment'),
                    rating: document.querySelector('input[name="Rating"]:checked').value,
                    artPieceId: form.get('artPieceId')
                };

                const response = await fetch('/api/reviews/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                });

                if (response.status !== 200) {
                    const data = await response.json();
                    const validationErrorsText = document.querySelector('#reviewForm *[name="comment"] + span');
                    validationErrorsText.innerText = data.errors.Comment;
                    return;
                }

                reviewModal.hide();
                showPostReview();
            }

            async function selectTag(tag) {
                currentTag = tag;
                document.querySelector('#selectedTag').innerText = tag;

                await loadArtPiece();
            }

            likeButton.addEventListener('click', like);
            reviewForm.addEventListener('submit', review);

            document.querySelector('#nextArtPiece').addEventListener('click', nextArtPiece);
            document.querySelector('#viewArtPiece').addEventListener('click', showDetails);
            document.querySelector('#backToPostReview').addEventListener('click', showPostReview);

            document.getElementById('loadMoreReviews').addEventListener('click', () => {
                if (!artPieceId) return;
                loadReviews(artPieceId);
            });

            postReviewModal._element.addEventListener('hidden.bs.modal', async () => {
                if (!artPieceDetailsModal._element.classList.contains('show')) {
                    await loadArtPiece();
                }
            });

            artPieceDetailsModal._element.addEventListener('hidden.bs.modal', async () => {
                if (!postReviewModal._element.classList.contains('show')) {
                    await loadArtPiece();
                }
            });
        });
    </script>
}