@using web.Features.Reviewers
@model Reviewer

<div class="container mt-5">
    <h2>@Model.Name's profile</h2>
    <p>Joined: <span id="reviewerJoinDate">@Html.Raw(Model.JoinDate.ToString("o"))</span> | @Model.ReviewCount total
        reviews</p>

    <div class="container mt-3">
        <ul class="nav nav-tabs" id="reviewerTabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#reviewsTab">Reviews</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#likesTab">Likes</button>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="reviewsTab">
                <div id="reviewsList" class="list-group">Loading...</div>
                <button id="loadMoreButton" class="btn btn-primary mt-3" style="display: none;">Load More</button>
            </div>
            <div class="tab-pane fade" id="likesTab">

            </div>
        </div>
    </div>
</div>

<script>
    let offset = 0;
    const reviewsPerPage = 10;

    function fetchReviews() {
        const list = document.querySelector('#reviewsList');
        const loadMore = document.querySelector('#loadMoreButton');

        fetch(`/api/reviewers/@Model.Id/reviews?offset=${offset}`)
            .then(response => response.json())
            .then(data => {
                if (offset == 0) {
                    list.innerText = '';
                }
                if (offset == 0 && data.length === 0) {
                    list.innerText = 'No reviews found.';
                }

                // If loaded less reviews than requested, hide the button since we're at the end
                if (data.length < reviewsPerPage) {
                    loadMore.style.display = 'none';
                } else {
                    loadMore.style.display = 'block';
                }

                data.forEach(review => {
                    const reviewItem = document.createElement('div');
                    reviewItem.classList.add('list-group-item');
                    reviewItem.innerHTML = `
                        <strong>${new Date(review.date).toLocaleString()}</strong>
                        <p> ${review.comment}</p>
                            <img src="${review.imagePath}">
                    `;
                    list.appendChild(reviewItem);
                });
                offset += reviewsPerPage;
            });
    }

    document.querySelector('#loadMoreButton').addEventListener('click', function () {
        fetchReviews();
    });

    fetchReviews();

    document.querySelector('#reviewerJoinDate').innerText = new Date(
        '@Html.Raw(Model.JoinDate.ToString("o"))').toLocaleString();
</script>
