@using web.Features.Reviewers
@model Reviewer

<div class="container mt-5">
    <h2><span id="reviewerName">@Model.Name</span>'s profile</h2>
    <p>Joined: <span id="reviewerJoinDate">@Html.Raw(Model.JoinDate.ToString("o"))</span> | @Model.ReviewCount total
        reviews</p>

    <div class="container mt-3">
        <ul class="nav nav-tabs" id="reviewerTabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#reviewsTab">Reviews</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#likesTab">Likes</button>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <partial name="Index/ReviewerReviewsPartial" />
            <partial name="Index/ReviewerLikesPartial" />
        </div>
    </div>
</div>

<partial name="../ArtPieces/_ArtPieceDetailsModalPartial" />

@section Scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            document.querySelector('#reviewerJoinDate').innerText = new Date(
                '@Html.Raw(Model.JoinDate.ToString("o"))').toLocaleString();

            let artPieceDetails = null;
            for (const container of document.querySelectorAll('#likesList, #reviewsList')) {
                container.addEventListener('click', (e) => {
                    const element = e.target;
                    if (element.parentNode != container) return;

                    const artPieceId = element.dataset.artPieceId;
                    if (artPieceId === null) {
                        throw new Error('Expected art piece id not to be null for clicked review/like element.');
                    }

                    artPieceDetails = new ArtPieceDetails(artPieceId, element.dataset.artPieceImagePath);
                    artPieceDetails.show();
                });
            }
        });
    </script>
}