<div class="modal fade" id="artPieceDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Art piece details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex flex-column flex-md-row">
                <div class="container-fluid">
                    <div class="row">
                        <div id="artDetailsImageContainer" class="col-7 text-center">
                            <img id="artDetailsImage" src="" class="img-fluid rounded mb-3" alt="Art Piece">
                            <p id="detailsDescription" class="mt-3"></p>
                        </div>

                        <div class="col-5 d-flex flex-column" style="max-height: 70vh;">
                            <h6 class="fw-bold mb-2">Reviews</h6>

                            <div id="artReviewsContainer" class="flex-grow-1 overflow-auto border rounded p-2"
                                style="min-height: 0;"></div>

                            <button id="details-load-more-reviews" class="btn btn-outline-secondary mt-2">
                                Load more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="details-back" class="btn btn-light">Back</button>
            </div>
        </div>
    </div>
</div>

<script>
    class ArtPieceDetails {
        onHidden = null;
        onBack = null;

        constructor(artPieceId, artPieceImagePath) {
            this.reviewsOffset = 0;
            this.artPieceId = artPieceId;
            this.artPieceDetailsModal = new bootstrap.Modal(document.querySelector('#artPieceDetailsModal'));
            document.getElementById('artDetailsImage').src = artPieceImagePath;
            this.loadReviews(false);

            document.getElementById('details-load-more-reviews').addEventListener('click', () => {
                this.loadReviews();
            });

            document.getElementById('details-back').addEventListener('click', () => {
                this.hide();
                if (this.onBack !== null) this.onBack();
            });

            this.artPieceDetailsModal._element.addEventListener('hidden.bs.modal', () => {
                if (this.onHidden !== null) this.onHidden();
            });

            document.getElementById('artReviewsContainer').addEventListener('click', async (e) => {
                await this.deleteReview(e);
            });
        }

        get isShown() {
            return this.artPieceDetailsModal._element.classList.contains('show');
        }

        async deleteReview(event) {
            if (event.target.closest('.btn-danger')) {
                const reviewId = event.target.closest('.btn-danger').dataset.reviewId;

                if (confirm('Are you sure you want to delete this review?')) {
                    const response = await fetch(`/api/reviews/${reviewId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        event.target.closest('div.d-flex.mb-3').remove();
                        document.querySelector(`.art-piece-card[data-art-piece-id="${this.artPieceId}"]`).remove();
                        this.hide();
                    } else {
                        alert('Failed to delete the review.');
                    }
                }
            }
        }

        async loadReviews(append = true) {
            const response = await fetch(`/api/artPieces/${this.artPieceId}/reviews?offset=${this.reviewsOffset}`);
            if (!response.ok) return;

            const reviews = await response.json();
            const container = document.getElementById('artReviewsContainer');

            if (!append) container.innerHTML = '';

            reviews.forEach(r => {
                const reviewEl = document.createElement('div');
                const badge = r.isCurrentUser
                    ? ' <span class="badge badge-secondary">YOU</span>'
                    : '';
                reviewEl.className = 'd-flex mb-3';
                reviewEl.innerHTML =
                    `<div>` +
                    `<div><strong>${r.reviewerName}</strong>${badge} -  <span class="review-points">${r.points} points</span> - <small>${new Date(r.date).toLocaleDateString()}</small></div>` +
                    `<div><span class="review-rating">${r.rating.value}★</span> ${r.comment}</div>` +
                    `</div>`;

                if (r.isCurrentUser || r.isAdmin) {
                    const deleteButton = document.createElement('button');
                    deleteButton.innerHTML = '<i class="bi bi-trash"></i>';
                    deleteButton.className = 'btn delete-review-button btn-danger btn-sm ms-2';
                    deleteButton.dataset.reviewId = r.reviewId;
                    reviewEl.appendChild(deleteButton);
                }

                if (r.isCurrentUser) reviewEl.classList.add('py-4');

                container.appendChild(reviewEl);
            });

            if (reviews.length > 0) this.reviewsOffset += reviews.length;
        }

        show() {
            this.artPieceDetailsModal.show();
        }

        hide() {
            this.artPieceDetailsModal.hide();
        }
    }
</script>